@import 'tailwindcss';

@font-face {
    font-family: "Clash Grotesk";
    src: url('./fonts/ClashGrotesk-Variable.ttf') format("truetype");
}

@theme {
    --font-clash: "Clash Grotesk", sans-serif;
}

html,
body {
    width: 100%;
    background-color: white;
    color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}