@import 'tailwindcss';

@font-face {
    font-family: "Clash Grotesk";
    src: url('/fonts/ClashGrotesk-Variable.ttf') format("truetype");
}

@theme {
    --font-clash: "Clash Grotesk", sans-serif;
    --card-color: #9a031e;
    --font-arial: Arial, sans-serif;
}

html,
body {
    width: 100%;
    background-color: black;
    color: #fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


@utility flex-center {
    @apply flex justify-center items-center;
}

@utility radial-gradient {
    /* background: radial-gradient(
            circle at center,
            #A6925E 0%,
            #000 60%,
            transparent 100%
    ); */
background: #30302d;
background: radial-gradient(circle,rgba(48, 48, 45, 1) 0%, rgba(0, 0, 0, 1) 50%);
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility masked-img {
    mask-image: url('./imgs/apple-plate.png');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 60%;
}

@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply fixed z-51 w-full;

        div {
            @apply flex flex-col md:flex-row justify-between items-center gap-5 py-5 px-5 lg:px-0 container mx-auto;
        }

        ul {
            @apply flex flex-row gap-5;
        }

        a {
            @apply cursor-pointer text-base md:text-lg;
        }

        h1 {
            @apply font-clash text-3xl;
        }
    }

    .body {
        @apply container flex flex-col md:flex-row items-center md:justify-between gap-8 md:gap-12 mx-auto absolute left-1/2 -translate-x-1/2 top-50 md:top-60;

    }

    video {
        @apply w-full h-full object-cover md:object-cover;

    }

    .bg-card {
        background-color: #240101;
    }

    .info {
        @apply w-full bg-black  mx-auto z-50 relative h-[600px] md:h-128 p-12;

        .left-apple {
            @apply absolute left-0 -translate-x-24 md:-translate-x-48 md:top-72 rotate-24 md:bottom-auto -bottom-20 md:w-102 w-64 brightness-95 select-none;
        }

        .middle-apple {
            @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-80;
        }

        div {
            @apply flex flex-col w-full justify-between h-full py-8 px-4;
        }

        p {
            @apply text-sm font-arial md:text-base self-start w-64 text-gray-300;
        }

        p:nth-last-child(1) {
            @apply self-end;
        }
    }

    .about {
        @apply container mx-auto space-y-12;

        .about-text {
            @apply flex-center flex-col gap-4;
        }

        .about-grid {
            @apply grid grid-cols-1 auto-rows-fr md:grid-cols-2 lg:grid-cols-3 grid-rows-3 md:grid-rows-2 gap-6 h-[520px];
        }

        .about-grid img {
            @apply w-full h-full object-cover transition-transform duration-300 hover:scale-105;
        }
    }

    #art {
        @apply container mx-auto h-screen relative pt-12 md:pt-12;

        h2 {
            @apply text-6xl md:text-6xl 2xl:text-7xl font-clash font-bold text-center tracking-wide;
        }

        div {
            @apply absolute bottom-20 md:bottom-10 lg:bottom-5 w-full;
        }

        div h2 {
            @apply text-4xl font-clash font-semibold text-center self-start opacity-0;
        }
    }

    #comments {
        @apply container p-16 rounded-4xl mx-auto mt-32 space-y-12;


        h2 {
            @apply text-6xl font-clash font-bold tracking-wide;
        }

        .comment-list {
            @apply flex flex-col gap-6 w-full;
        }

        .comment {
            @apply w-full bg-gray-950 p-4 rounded-3xl space-y-2 font-arial px-8;
        }

        .heading {
            @apply flex justify-between items-center;
        }

        .heading #comment-title {
            @apply text-2xl font-semibold;
        }

        #rating span {
            @apply text-amber-500 text-3xl;
        }

        .comment #text {
            @apply text-lg break-words;
        }

        #rating span {
            @apply text-amber-500 text-3xl;
        }
    }

    footer {
        @apply w-full text-center py-12;

        h3 {
            @apply text-3xl font-clash font-semibold tracking-wide;
        }

        p {
            @apply text-lg md:text-xl font-arial;
        }
    }

}